<div class="login-page">

  <div class="login-container">

    <div class="brand">
      <div class="brand-icon">
        G
      </div>

      <h1>GALCOM</h1>

      <p>
        Sistema de Gestión de Galería Comercial
      </p>
    </div>

    <div class="login-card">

      <div class="login-header">
        <h2>Iniciar sesión</h2>
        <p>Ingrese sus credenciales para continuar</p>
      </div>

     <form [formGroup]="loginForm" (ngSubmit)="ingresar()">
        <div class="form-group">
          <label for="usuario">
            Usuario
          </label>
          <input id="usuario" type="text" placeholder="Ingrese su usuario" formControlName="usuario" >
        @if (loginForm.controls.usuario.invalid && loginForm.controls.usuario.touched) {
          <small class="error-message">
            El usuario es obligatorio.
          </small>
              }
        </div>

        <div class="form-group">
          <label for="password">
            Contraseña
          </label>
          <input id="password" type="password" placeholder="Ingrese su contraseña" formControlName="password" >
        @if (loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) {
        <small class="error-message">
          La contraseña es obligatoria.
        </small>
        }

        @if (loginForm.controls.password.hasError('minlength') && loginForm.controls.password.touched ) {
          <small class="error-message">
            La contraseña debe tener al menos 4 caracteres.
          </small>
        }
        </div>
        <button type="submit">
          Ingresar
        </button>
      </form>
    </div>

    <div class="login-footer">
      GALCOM © 2026
    </div>

  </div>

</div>